@import "tailwindcss";
/*@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Jost:wght@200;300;400&display=swap');*/


:root {
  --branco: #fafafa;
  --bege: #f1ede5;
  --chumbo: #504940;
  --vinho: #572211;
  --fonte-titulo: "Cormorant Garamond", serif;
  --fonte-texto: "Jost", sans-serif;
}

.container {
  @apply flex flex-col w-[calc(100%-16px)] mx-2 max-w-350 items-center justify-center;
}

.shadowFull {
  @apply shadow-[0_0_15px_5px_rgba(0,0,0,0.2)];
}


html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-weight: 100;
  background-color: var(--branco);
}



